*{
    margin:0 auto;
}

.land{
    margin-top:100px;
    background:lightskyblue;
    width:400px;
    height:300px;
}
p{
    padding-left:30px;
}
p input{
    width:200px;
    height:30px;
    border:1px solid #FFFFFF;
}
.input1{
    margin-top:40px;
}
.input2{
    margin:15px 0 0 15px;
}
.correct{
    width:200px;
    height:20px;
    margin:40px 0 0 130px;
}
a{
    font-size: 18px;
    overflow: hidden;
    line-height: 20px;
}
#btn1,#btn2{
    width:80px;
    height:28px;
    background:#FFFFFF;
    border-color: #FFFFFF;
}
#btn1{
    margin:40px 0 0 110px;
}